<h3 style="text-align: center; font-weight: 100;">
  <span *ngIf="tipo == 'ingresos'">
    Ingresos
  </span>
  <span *ngIf="tipo == 'reservas'">
    Reservas
  </span>
</h3>

<div class="input-group mb-4">
  <input
    type="text"
    class="form-control"
    placeholder="Buscar"
    name="texto"
    [(ngModel)]="texto"
  />
  <div class="input-group-btn">
    <button class="buscar" disabled>
      <i class="material-icons">search</i>
    </button>
  </div>
</div>
<div class="encabezado">
  <div>Inquilino</div>
  <div>Empresa</div>
  <div>Habitacion-Valor</div>
  <div>Fecha Ingreso</div>
  <div>
    <span *ngIf="tipo == 'ingresos'">Salida(Fecha)</span>
    <span *ngIf="tipo == 'reservas'">Reservas</span>
  </div>
  <div>Observaciones</div>
  <div>Editar</div>
</div>
<cdk-virtual-scroll-viewport [itemSize]="10" class="ingreso-conten">
  <div
    class="spinner-border text-primary"
    role="status"
    *ngIf="!loading"
    style="margin-left:50%;margin-top: 28vh;"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div
    class="ingresos"
    [ngStyle]="{ 'border-left': item.color }"
    *cdkVirtualFor="let item of ingresos | buscar: texto; let i = index"
  >
    <div>
      <div>{{ item.nombre }}</div>
      <div>CC: {{ item.cedula }}</div>
      <div>Tel: {{ item.telefono }}</div>
    </div>
    <div>
      <div>{{ item.empresa }}</div>
      <div>Nit: {{ item.nit }}</div>
    </div>
    <div>
      <div>{{ item.habitacion }}</div>
      <div>Valor: ${{ item.valor }}</div>
    </div>
    <div>{{ item.fechaIngreso }}</div>
    <div>
      <div *ngIf="item.fechaSalida && tipo == 'ingresos'">
        {{ item.fechaSalida }}
      </div>
      <div *ngIf="!item.fechaSalida && tipo == 'ingresos'">Pendiente</div>
      <div *ngIf="!item.finalizado && tipo == 'reservas' && !item.reserva">
        Pendiente
      </div>
      <div *ngIf="item.reserva && tipo == 'reservas'">Confirmada</div>
      <div *ngIf="!item.reserva && tipo == 'reservas' && item.finalizado">
        Cancelada
      </div>
    </div>
    <div>{{ item.observaciones }}</div>
    <div>
      <i
        class="material-icons editar"
        data-toggle="modal"
        data-backdrop="static"
        data-target="#exampleModalCenter"
        (click)="editItem(item)"
      >
        create
      </i>
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<app-formulario
(estado)="updateIngreso($event)"
[events]="updateItem.asObservable()"

>

</app-formulario>
