.ng-invalid.ng-touched:not(form){

    border: 1px solid red;
 }
 .error{
    font-size: 10pt;
    color: red;
    margin-left: 3px;
 }

 .encabezado{

   display: grid;
   grid-template-columns: 200px repeat(5,1fr);
   grid-column-gap: 2px;
   border-bottom: 3px solid #e0e0e0;
   padding: 10px;
   font-weight:500;
   color: #6d6d6d;
   }

   .ingresos{

      display: grid;
      grid-template-columns: 200px repeat(5,1fr);
      grid-column-gap: 2px;
      height: 100px;
      padding: 15px;
      font-size: 15px;
      color: #6d6d6d;
      border-bottom: solid 1px #f5f5f5;
      }

      .modal-xxl{
         min-width: 1000px !important;
      }

      .reserva{
        display: flex;
        flex-direction: column;
        justify-content: space-between;


      }