/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-track{
  
    border-radius: 5px;
    background-color: #CCCCCC;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #007bff50;
   
  }