


.habitaciones{

   display: grid;
   grid-template-columns: repeat(auto-fill,150px);
   grid-auto-rows: 100px;
   grid-gap: 10px;
 


}

.ocupada,.reservado,.disponible{
  font-weight: bold;
}

.ocupada{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#dc3545;
  border:1px solid rgb(223, 223, 223);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  
}
.reservado{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc107;
  border:1px solid rgb(223, 223, 223);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  
}

.disponible{

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border:1px solid rgb(143, 143, 143);
  border-radius: 10px;
  cursor: pointer;
}

.habitacion:hover{
   
}

.leyenda{
  width: 350px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}