<h1 style="text-align: center; padding: 20px; font-weight: 100;">Nuevo Ingreso</h1>
<form class="form">
    <div class="form-group row">
      <label for="colFormLabel" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="colFormLabel" placeholder="Ingrese El Nombre">
      </div>
      <label for="colFormLabel" class="col-sm-2 col-form-label">Cedula</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="colFormLabel" placeholder="Ingrese La Cedula">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormLabel" class="col-sm-2 col-form-label">Empresa</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="colFormLabel" placeholder="Nombre de la Empresa">
      </div>
      <label for="colFormLabel" class="col-sm-2 col-form-label">Nit</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="colFormLabel" placeholder="Nit">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormLabel" class="col-sm-2 col-form-label">Habitacion</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="colFormLabel" placeholder="Habitacion de Hospedaje">
      </div>
      <label for="colFormLabel" class="col-sm-2 col-form-label">Valor</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="colFormLabel" placeholder="Valor Noche">
      </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Observaciones</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="validationTextarea" placeholder="Observaciones"></textarea>
        </div>
      
    </div>
    <button type="button" class="btn btn-primary">Guardar</button>
  </form>