<div
  class="modal fade"
  id="password"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Cambiar Contraseña</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="form-group row has-danger">
            <div class="col-sm-12">
              <input
                type="password"
                class="form-control"
                id="colFormLabel1"
                placeholder="Ingrese la Contraseña"
                name="password"
                #password="ngModel"
                [(ngModel)]="newPassword"
                required
              />
              <div
                class="error"
                *ngIf="password.errors?.required && errorinput"
              >
                Campo requerido
              </div>
            </div>
          </div>
          <div class="form-group row has-danger">
            <div class="col-sm-12">
              <input
                type="password"
                class="form-control"
                id="colFormLabel2"
                placeholder="Confirme la Contraseña"
                name="confpassword"
                #confpassword="ngModel"
                [(ngModel)]="confPassword"
                required
              />
              <div
                class="error"
                *ngIf="confpassword.errors?.required && errorinput"
              >
                Campo requerido
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">
            Cambiar Contraseña
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="form.reset()"
          >
            Cerrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
